<!DOCTYPE html>
<html>
<head>
	<title>Your Books</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<style type="text/css" src="static/design1.css"></style>
</head>
<body>
<input type="text" id="search">
<select>
	<option value='title'>Title</option>
	<option value='author'>Author</option>
	<option value='isbn'>ISBN</option>
</select>
<div>
<button id="discover">Discover New Books</button>
<button id="library">My Library</button>
<button id="activity">Activity</button>
</div>
<div id="discover-div">
	<ul id="books"></ul>
</div>
<script type="text/javascript" src="static/new1.js"></script>
</body>
</html>